.outer-container {
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  max-width: 900px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
}

@media only screen and (max-width: 900px) {
  .outer-container {
    display: inline-block;
    max-width: 500px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-size: medium;
  white-space: nowrap;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

button {
  width: 100px;
  height: 50px;
  font-size: large;
  font-weight: bold;
  border-radius: 20px;
  border-width: 0px;
  margin: 5px;
}

.input-field {
  width: 100px;
  height: 30px;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin: 2px;
  padding: 5px;
}

#start-button {
  background-color: #80ef80;
}

#start-button:hover {
  background-color: #2f6030;
  color: white;
  cursor: pointer;
}

#pause-button {
  background-color: #77cbda;
}

#pause-button:hover {
  background-color: #2e6c7b;
  color: white;
  cursor: pointer;
}

#reset-button {
  background-color: #ff746c;
}

#reset-button:hover {
  background-color: #7a3734;
  color: white;
  cursor: pointer;
}
